In [52]:
import pandas as pd  # type: ignore
import numpy as np # type: ignore

In [53]:
pd.Series([1,'a',3,4,5])

0    1
1    a
2    3
3    4
4    5
dtype: object

In [54]:
values = [f'Value: {i}' for i in range(10)]
index = [f'Index: {i}' for i in range(10)]

serie = pd.Series(values, index=index)

print(type(serie))
serie

<class 'pandas.core.series.Series'>

Index: 0    Value: 0
Index: 1    Value: 1
Index: 2    Value: 2
Index: 3    Value: 3
Index: 4    Value: 4
Index: 5    Value: 5
Index: 6    Value: 6
Index: 7    Value: 7
Index: 8    Value: 8
Index: 9    Value: 9
dtype: object

In [55]:
pd.Series(np.logspace(-10, 10, 21), index=np.linspace(0, 100, 21, dtype='int'))

0      1.000000e-10
5      1.000000e-09
10     1.000000e-08
15     1.000000e-07
20     1.000000e-06
25     1.000000e-05
30     1.000000e-04
35     1.000000e-03
40     1.000000e-02
45     1.000000e-01
50     1.000000e+00
55     1.000000e+01
60     1.000000e+02
65     1.000000e+03
70     1.000000e+04
75     1.000000e+05
80     1.000000e+06
85     1.000000e+07
90     1.000000e+08
95     1.000000e+09
100    1.000000e+10
dtype: float64

In [56]:
pd.Series(np.linspace(0, 500, 10), dtype='float16')

0      0.0000
1     55.5625
2    111.1250
3    166.6250
4    222.2500
5    277.7500
6    333.2500
7    389.0000
8    444.5000
9    500.0000
dtype: float16

In [57]:
#Diccionarios
data = { 
        'name': 'John',
    'age': 30,
    'city': 'New York'
}
pd.Series(data)

name        John
age           30
city    New York
dtype: object

pd.DataFrame

In [58]:
pd.DataFrame(np.full((3, 7), 10), index= list('ABC'))

    0   1   2   3   4   5   6
A  10  10  10  10  10  10  10
B  10  10  10  10  10  10  10
C  10  10  10  10  10  10  10

In [59]:
pd.DataFrame([(1, 2, 3), (4, 5, 6), (7, 8, 9)])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
data = {
    'name': ['John', 'Jane', 'Joe'],
    'age': [30, 25, 40],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
pd.DataFrame(data)

   name  age         city
0  John   30     New York
1  Jane   25  Los Angeles
2   Joe   40      Chicago

In [61]:
s = pd.Series(np.random.randn(10), name='random')

df = pd.DataFrame(np.eye(6, 3), index=list('abcdef'), columns=list('XYZ'))

In [62]:
s.values

array([ 0.42152622,  0.71406282, -0.40577097,  0.23583913,  0.26118766,
       -0.88876638, -0.47436304, -0.35051779,  0.93618726,  0.39410638])

In [63]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [64]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [65]:
s.name

'random'

In [66]:
df.values

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [67]:
df['X']

a    1.0
b    0.0
c    0.0
d    0.0
e    0.0
f    0.0
Name: X, dtype: float64

In [68]:
s.size

10

In [69]:
df.size

18

In [70]:
s.shape

(10,)

In [71]:
df.shape

(6, 3)

In [72]:
s.dtype

dtype('float64')

In [73]:
s.ndim

1

In [74]:
df.ndim

2

In [75]:
s.T

0    0.421526
1    0.714063
2   -0.405771
3    0.235839
4    0.261188
5   -0.888766
6   -0.474363
7   -0.350518
8    0.936187
9    0.394106
Name: random, dtype: float64

In [76]:
df.T

     a    b    c    d    e    f
X  1.0  0.0  0.0  0.0  0.0  0.0
Y  0.0  1.0  0.0  0.0  0.0  0.0
Z  0.0  0.0  1.0  0.0  0.0  0.0

In [77]:
df.T.index

Index(['X', 'Y', 'Z'], dtype='object')

ExportData

In [78]:
index = list('abcdef')
columns = list('xyz')
data = np.random.randint(0, 100, (6, 3))
df = pd.DataFrame(data, index=index, columns=columns)   
df

    x   y   z
a  15  53  92
b  42   7  83
c  52   4  38
d  82  55   5
e  70  96  28
f  64  63  64

In [79]:
df.to_csv()

',x,y,z\r\na,15,53,92\r\nb,42,7,83\r\nc,52,4,38\r\nd,82,55,5\r\ne,70,96,28\r\nf,64,63,64\r\n'

In [80]:
df.to_csv('df_to_csv.txt')

In [81]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n�mero de serie del volumen es: 3A39-5260

 Directorio de c:\Users\Equipo\OneDrive\Escritorio\Py

20/09/2024  20:02    <DIR>          .
16/09/2024  11:29    <DIR>          ..
05/09/2024  22:22               392 .gitignore
20/09/2019  22:55             2,298 80-cereals.zip
23/09/2024  13:57                77 df_to_csv.txt
23/09/2024  13:54             5,100 df_to_excel.xlsx
23/09/2024  13:54               142 df_to_json.json
20/09/2024  20:02               348 file.zip
05/09/2024  22:22             1,097 LICENSE
19/09/2024  18:23            16,833 NBK_Quiz_2_Numpy.ipynb
19/09/2024  18:24             3,472 Numpy.ipynb
23/09/2024  13:55            43,351 Pandas_Basics.ipynb
05/09/2024  22:22                27 README.md
23/09/2024  13:18               808 Vulnerable.py
              12 archivos         73,945 bytes
               2 dirs  228,452,139,008 bytes libres

In [82]:
!cat df_to_csv.txt

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [83]:

df.to_excel('df_to_excel.xlsx', 'hoja_ejemplo')

C:\Users\Equipo\AppData\Local\Temp\ipykernel_1140\1665513279.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df.to_excel('df_to_excel.xlsx', 'hoja_ejemplo')

In [84]:
import json 

def print_json(raw_json):
    parsed = json.loads(raw_json)
    print(json.dumps(parsed, indent=2))

In [85]:
s = df.to_json(orient= 'columns')
print_json(s)

{
  "x": {
    "a": 15,
    "b": 42,
    "c": 52,
    "d": 82,
    "e": 70,
    "f": 64
  },
  "y": {
    "a": 53,
    "b": 7,
    "c": 4,
    "d": 55,
    "e": 96,
    "f": 63
  },
  "z": {
    "a": 92,
    "b": 83,
    "c": 38,
    "d": 5,
    "e": 28,
    "f": 64
  }
}

In [86]:
s = df.to_json(orient= 'split')
print_json(s)

{
  "columns": [
    "x",
    "y",
    "z"
  ],
  "index": [
    "a",
    "b",
    "c",
    "d",
    "e",
    "f"
  ],
  "data": [
    [
      15,
      53,
      92
    ],
    [
      42,
      7,
      83
    ],
    [
      52,
      4,
      38
    ],
    [
      82,
      55,
      5
    ],
    [
      70,
      96,
      28
    ],
    [
      64,
      63,
      64
    ]
  ]
}

In [87]:
s = df.to_json(orient= 'records') 
print_json(s)

[
  {
    "x": 15,
    "y": 53,
    "z": 92
  },
  {
    "x": 42,
    "y": 7,
    "z": 83
  },
  {
    "x": 52,
    "y": 4,
    "z": 38
  },
  {
    "x": 82,
    "y": 55,
    "z": 5
  },
  {
    "x": 70,
    "y": 96,
    "z": 28
  },
  {
    "x": 64,
    "y": 63,
    "z": 64
  }
]

In [88]:
s = df.to_json(orient= 'index')
print_json(s)

{
  "a": {
    "x": 15,
    "y": 53,
    "z": 92
  },
  "b": {
    "x": 42,
    "y": 7,
    "z": 83
  },
  "c": {
    "x": 52,
    "y": 4,
    "z": 38
  },
  "d": {
    "x": 82,
    "y": 55,
    "z": 5
  },
  "e": {
    "x": 70,
    "y": 96,
    "z": 28
  },
  "f": {
    "x": 64,
    "y": 63,
    "z": 64
  }
}

In [89]:
s = df.to_json(orient= 'values')  
print(s)

[[15,53,92],[42,7,83],[52,4,38],[82,55,5],[70,96,28],[64,63,64]]

In [90]:
s = df.to_json(orient= 'table')
print_json(s)

{
  "schema": {
    "fields": [
      {
        "name": "index",
        "type": "string"
      },
      {
        "name": "x",
        "type": "integer"
      },
      {
        "name": "y",
        "type": "integer"
      },
      {
        "name": "z",
        "type": "integer"
      }
    ],
    "primaryKey": [
      "index"
    ],
    "pandas_version": "1.4.0"
  },
  "data": [
    {
      "index": "a",
      "x": 15,
      "y": 53,
      "z": 92
    },
    {
      "index": "b",
      "x": 42,
      "y": 7,
      "z": 83
    },
    {
      "index": "c",
      "x": 52,
      "y": 4,
      "z": 38
    },
    {
      "index": "d",
      "x": 82,
      "y": 55,
      "z": 5
    },
    {
      "index": "e",
      "x": 70,
      "y": 96,
      "z": 28
    },
    {
      "index": "f",
      "x": 64,
      "y": 63,
      "z": 64
    }
  ]
}

In [91]:
df.to_json('df_to_json.json')

In [92]:
!cat df_to_json.json

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

HTML

In [93]:
#pd.read_csv('sample_data/california_housing_test.csv')

In [94]:
#!pip install kaggle

In [95]:
url = 'https://github.com/JuezUN/datasets/blob/master/cifras_turismobog_2018.xlsx?raw=true'

# List all sheet names to identify the correct one
xls = pd.ExcelFile(url)
print(xls.sheet_names)

# Read the downloaded file with the correct sheet name
df = pd.read_excel(url, sheet_name='Número de Turistas', header=8, usecols='A:D', nrows=48)  # Replace 'Sheet1' with the correct sheet name

df.head()

['Número de Turistas', 'Visitantes extranjeros', 'Ocupación hotelera', 'Empleabilidad']

     MES-AÑO  Total turistas  Turistas nacionales  Turistas internacionales
0 2015-01-01          497743             399306.0                   98437.0
1 2015-02-01          734318             612767.0                  121551.0
2 2015-03-01          857214             764469.0                   92745.0
3 2015-04-01          886778             782081.0                  104697.0
4 2015-05-01          986256             903469.0                   82787.0

In [96]:

%pip install lxml
dfs = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Abanderados_en_la_ceremonia_de_apertura_de_los_Juegos_Ol%C3%ADmpicos_de_R%C3%ADo_de_Janeiro_2016')

Requirement already satisfied: lxml in c:\users\equipo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [97]:
df_a = pd.DataFrame(np.eye(3))

df_a

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0

In [98]:
df_b = pd.DataFrame(np.full(3, 2), index=[-1, -2, -3])

df_b

    0
-1  2
-2  2
-3  2

In [99]:
pd.concat([df_a, df_b], ignore_index=True)

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  2.0  NaN  NaN
4  2.0  NaN  NaN
5  2.0  NaN  NaN

In [100]:
pd.concat([df_a, df_b], axis=1, ignore_index=True)

      0    1    2    3
 0  1.0  0.0  0.0  NaN
 1  0.0  1.0  0.0  NaN
 2  0.0  0.0  1.0  NaN
-1  NaN  NaN  NaN  2.0
-2  NaN  NaN  NaN  2.0
-3  NaN  NaN  NaN  2.0

In [101]:
df = pd.DataFrame(np.random.rand(10, 3), columns=list('ABC'))