In [2]:
import pandas as pd 
import numpy as np

In [5]:
pd.Series([1,'a',3,4,5])

0    1
1    a
2    3
3    4
4    5
dtype: object

In [6]:
values = [f'Value: {i}' for i in range(10)]
index = [f'Index: {i}' for i in range(10)]

serie = pd.Series(values, index=index)

print(type(serie))
serie

<class 'pandas.core.series.Series'>

Index: 0    Value: 0
Index: 1    Value: 1
Index: 2    Value: 2
Index: 3    Value: 3
Index: 4    Value: 4
Index: 5    Value: 5
Index: 6    Value: 6
Index: 7    Value: 7
Index: 8    Value: 8
Index: 9    Value: 9
dtype: object

In [7]:
pd.Series(np.logspace(-10, 10, 21), index=np.linspace(0, 100, 21, dtype='int'))

0      1.000000e-10
5      1.000000e-09
10     1.000000e-08
15     1.000000e-07
20     1.000000e-06
25     1.000000e-05
30     1.000000e-04
35     1.000000e-03
40     1.000000e-02
45     1.000000e-01
50     1.000000e+00
55     1.000000e+01
60     1.000000e+02
65     1.000000e+03
70     1.000000e+04
75     1.000000e+05
80     1.000000e+06
85     1.000000e+07
90     1.000000e+08
95     1.000000e+09
100    1.000000e+10
dtype: float64

In [9]:
pd.Series(np.linspace(0, 500, 10), dtype='float16')

0      0.0000
1     55.5625
2    111.1250
3    166.6250
4    222.2500
5    277.7500
6    333.2500
7    389.0000
8    444.5000
9    500.0000
dtype: float16

In [10]:
#Diccionarios
data = { 
        'name': 'John',
    'age': 30,
    'city': 'New York'
}
pd.Series(data)

name        John
age           30
city    New York
dtype: object

pd.DataFrame

In [13]:
pd.DataFrame(np.full((3, 7), 10), index= list('ABC'))

    0   1   2   3   4   5   6
A  10  10  10  10  10  10  10
B  10  10  10  10  10  10  10
C  10  10  10  10  10  10  10

In [15]:
pd.DataFrame([(1, 2, 3), (4, 5, 6), (7, 8, 9)])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
data = {
    'name': ['John', 'Jane', 'Joe'],
    'age': [30, 25, 40],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
pd.DataFrame(data)

   name  age         city
0  John   30     New York
1  Jane   25  Los Angeles
2   Joe   40      Chicago

In [22]:
s = pd.Series(np.random.randn(10), name='random')

df = pd.DataFrame(np.eye(6, 3), index=list('abcdef'), columns=list('XYZ'))

In [23]:
s.values

array([-0.49529402, -1.53698688,  0.32575761,  0.8758391 , -0.16524933,
       -0.32762367,  0.17840776, -0.84225991, -1.19593115, -1.13759726])

In [24]:
s.index

RangeIndex(start=0, stop=10, step=1)

In [25]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [26]:
s.name

'random'

In [31]:
df.values

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [28]:
df['X']

a    1.0
b    0.0
c    0.0
d    0.0
e    0.0
f    0.0
Name: X, dtype: float64

In [29]:
s.size

10

In [30]:
df.size

18

In [35]:
s.shape

(10,)

In [36]:
df.shape

(6, 3)

In [37]:
s.dtype

dtype('float64')

In [38]:
s.ndim

1

In [39]:
df.ndim

2

In [40]:
s.T

0   -0.495294
1   -1.536987
2    0.325758
3    0.875839
4   -0.165249
5   -0.327624
6    0.178408
7   -0.842260
8   -1.195931
9   -1.137597
Name: random, dtype: float64

In [33]:
df.T

     a    b    c    d    e    f
X  1.0  0.0  0.0  0.0  0.0  0.0
Y  0.0  1.0  0.0  0.0  0.0  0.0
Z  0.0  0.0  1.0  0.0  0.0  0.0

In [32]:
df.T.index

Index(['X', 'Y', 'Z'], dtype='object')

ExportData

In [34]:
index = list('abcdef')
columns = list('xyz')
data = np.random.randint(0, 100, (6, 3))
df = pd.DataFrame(data, index=index, columns=columns)   
df

    x   y   z
a  84  25  57
b  90  77  58
c  56   4   8
d  26  85  19
e  44  76  24
f  41   9  35

In [41]:
df.to_csv()

',x,y,z\r\na,84,25,57\r\nb,90,77,58\r\nc,56,4,8\r\nd,26,85,19\r\ne,44,76,24\r\nf,41,9,35\r\n'

In [42]:
df.to_csv('df_to_csv.txt')

In [44]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n�mero de serie del volumen es: 3A39-5260

 Directorio de c:\Users\Equipo\OneDrive\Escritorio\Py

19/09/2024  19:06    <DIR>          .
16/09/2024  11:29    <DIR>          ..
05/09/2024  22:22               392 .gitignore
19/09/2024  19:06                77 df_to_csv.txt
05/09/2024  22:22             1,097 LICENSE
19/09/2024  18:23            16,833 NBK_Quiz_2_Numpy.ipynb
19/09/2024  18:24             3,472 Numpy.ipynb
19/09/2024  18:57            10,567 Pandas_Basics.ipynb
05/09/2024  22:22                27 README.md
               7 archivos         32,465 bytes
               2 dirs  230,132,203,520 bytes libres

In [50]:
!cat df_to_csv.txt

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [52]:

df.to_excel('df_to_excel.xlsx', 'hoja_ejemplo')

C:\Users\Equipo\AppData\Local\Temp\ipykernel_10700\9850327.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df.to_excel('df_to_excel.xlsx', 'hoja_ejemplo')

In [54]:
import json 

def print_json(raw_json):
    parsed = json.loads(raw_json)
    print(json.dumps(parsed, indent=2))

In [55]:
s = df.to_json(orient= 'columns')
print_json(s)

{
  "x": {
    "a": 84,
    "b": 90,
    "c": 56,
    "d": 26,
    "e": 44,
    "f": 41
  },
  "y": {
    "a": 25,
    "b": 77,
    "c": 4,
    "d": 85,
    "e": 76,
    "f": 9
  },
  "z": {
    "a": 57,
    "b": 58,
    "c": 8,
    "d": 19,
    "e": 24,
    "f": 35
  }
}

In [56]:
s = df.to_json(orient= 'split')
print_json(s)

{
  "columns": [
    "x",
    "y",
    "z"
  ],
  "index": [
    "a",
    "b",
    "c",
    "d",
    "e",
    "f"
  ],
  "data": [
    [
      84,
      25,
      57
    ],
    [
      90,
      77,
      58
    ],
    [
      56,
      4,
      8
    ],
    [
      26,
      85,
      19
    ],
    [
      44,
      76,
      24
    ],
    [
      41,
      9,
      35
    ]
  ]
}

In [57]:
s = df.to_json(orient= 'records') 
print_json(s)

[
  {
    "x": 84,
    "y": 25,
    "z": 57
  },
  {
    "x": 90,
    "y": 77,
    "z": 58
  },
  {
    "x": 56,
    "y": 4,
    "z": 8
  },
  {
    "x": 26,
    "y": 85,
    "z": 19
  },
  {
    "x": 44,
    "y": 76,
    "z": 24
  },
  {
    "x": 41,
    "y": 9,
    "z": 35
  }
]

In [58]:
s = df.to_json(orient= 'index')
print_json(s)

{
  "a": {
    "x": 84,
    "y": 25,
    "z": 57
  },
  "b": {
    "x": 90,
    "y": 77,
    "z": 58
  },
  "c": {
    "x": 56,
    "y": 4,
    "z": 8
  },
  "d": {
    "x": 26,
    "y": 85,
    "z": 19
  },
  "e": {
    "x": 44,
    "y": 76,
    "z": 24
  },
  "f": {
    "x": 41,
    "y": 9,
    "z": 35
  }
}

In [59]:
s = df.to_json(orient= 'values')  
print(s)

[[84,25,57],[90,77,58],[56,4,8],[26,85,19],[44,76,24],[41,9,35]]

In [61]:
s = df.to_json(orient= 'table')
print_json(s)

{
  "schema": {
    "fields": [
      {
        "name": "index",
        "type": "string"
      },
      {
        "name": "x",
        "type": "integer"
      },
      {
        "name": "y",
        "type": "integer"
      },
      {
        "name": "z",
        "type": "integer"
      }
    ],
    "primaryKey": [
      "index"
    ],
    "pandas_version": "1.4.0"
  },
  "data": [
    {
      "index": "a",
      "x": 84,
      "y": 25,
      "z": 57
    },
    {
      "index": "b",
      "x": 90,
      "y": 77,
      "z": 58
    },
    {
      "index": "c",
      "x": 56,
      "y": 4,
      "z": 8
    },
    {
      "index": "d",
      "x": 26,
      "y": 85,
      "z": 19
    },
    {
      "index": "e",
      "x": 44,
      "y": 76,
      "z": 24
    },
    {
      "index": "f",
      "x": 41,
      "y": 9,
      "z": 35
    }
  ]
}

In [62]:
df.to_json('df_to_json.json')

In [63]:
!cat df_to_json.json

"cat" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

HTML

In [68]:
#pd.read_csv('sample_data/california_housing_test.csv')

In [69]:
#!pip install kaggle

In [75]:
url = 'https://github.com/JuezUN/datasets/blob/master/cifras_turismobog_2018.xlsx?raw=true'

# List all sheet names to identify the correct one
xls = pd.ExcelFile(url)
print(xls.sheet_names)

# Read the downloaded file with the correct sheet name
df = pd.read_excel(url, sheet_name='Número de Turistas', header=8, usecols='A:D', nrows=48)  # Replace 'Sheet1' with the correct sheet name

df.head()

['Número de Turistas', 'Visitantes extranjeros', 'Ocupación hotelera', 'Empleabilidad']

     MES-AÑO  Total turistas  Turistas nacionales  Turistas internacionales
0 2015-01-01          497743             399306.0                   98437.0
1 2015-02-01          734318             612767.0                  121551.0
2 2015-03-01          857214             764469.0                   92745.0
3 2015-04-01          886778             782081.0                  104697.0
4 2015-05-01          986256             903469.0                   82787.0

In [80]:

%pip install lxml
dfs = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Abanderados_en_la_ceremonia_de_apertura_de_los_Juegos_Ol%C3%ADmpicos_de_R%C3%ADo_de_Janeiro_2016')

Collecting lxml
  Downloading lxml-5.3.0-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 2.8 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 3.4 MB/s eta 0:00:01
   --------------------- ------------------ 2.1/3.8 MB 3.6 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.7 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [81]:
df_a = pd.DataFrame(np.eye(3))

df_a

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0

In [83]:
df_b = pd.DataFrame(np.full(3, 2), index=[-1, -2, -3])

df_b

    0
-1  2
-2  2
-3  2

In [84]:
pd.concat([df_a, df_b], ignore_index=True)

     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0
3  2.0  NaN  NaN
4  2.0  NaN  NaN
5  2.0  NaN  NaN

In [85]:
pd.concat([df_a, df_b], axis=1, ignore_index=True)

      0    1    2    3
 0  1.0  0.0  0.0  NaN
 1  0.0  1.0  0.0  NaN
 2  0.0  0.0  1.0  NaN
-1  NaN  NaN  NaN  2.0
-2  NaN  NaN  NaN  2.0
-3  NaN  NaN  NaN  2.0

In [86]:
df = pd.DataFrame(np.random.rand(10, 3), columns=list('ABC'))